<span class="publication">{{publication}}</span>
<span class="date">{{date}}</span>
<span>
  <a href={{link}} target="_blank">"{{title}}"</a>
</span>
{{#if hasAuthor}}
  <span class="author">
    <a href="{{authorLink}}" target="_blank">~{{author}}</a>
  </span>
{{/if}}
