<span class="copy article">
  <a href={{link}} target="_blank">"{{title}}"</a>
  <br>
  <span class="date">{{date}}</span>
  <br>
  <span class="author">
    <a href="{{authorLink}}" target="_blank">{{author}}</a>
  </span>
</span>
