<div class="col">
  <div class="row main-content-container">
    <div class="col-1 info-container">
      <span class="title">Drop us a line <span class="dot">.</span></span>
      <address class="contact-info col">
        <span class="info-bit row">
          {{fa-icon "envelope"}}
          <a href="mailto:hello@produce.haus">hello@produce.haus</a>
        </span>
        <span class="address info-bit  row">
          {{fa-icon "map-marker"}}
          <div class="row">
            <a href="https://www.google.com/maps/place/1318+E+7th+St,+Los+Angeles,+CA+90021/@34.0354024,-118.2431765,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c62f807498f7:0x71196d4e3b6dedaa!8m2!3d34.0354024!4d-118.2409878" target="_blank" class="content">1318 E 7th. Street, L.A, CA 90021</a>
          </div>
        </span>
        <span class="number info-bit  row">
          {{fa-icon "phone"}}
          <a href="tel:1-323-404-0838">+1 323-404-0838</a>
        </span>
      </address>
      <div class="icons row bottom">
        {{ui/circle-icon-link-to-button "instagram" "https://www.instagram.com/producehaus/"}}
        {{ui/circle-icon-link-to-button "facebook" "https://www.facebook.com/producehaus"}}
        {{ui/circle-icon-link-to-button "twitter" "https://twitter.com/producehaus"}}
        {{ui/circle-icon-link-to-button "medium" "https://medium.com/@producehaus"}}
      </div>
    </div>
    <div class="col-1 location-container">
      <div class="col stretch map-container">
        {{elements/map-element}}
      </div>
    </div>
  </div>

  <div class="directions">
    <span class="title">Directions and parking</span>
    <ol>
      <li>You will enter into the Market space at Market Court, on 7th in between Alameda and Central</li>
      <li>you will see a vintage “CAFÉ” sign where the entrance is</li>
      <li>Once inside, drive (or Lyft/Uber) to the far end of the very large parking lot</li>
      <li>The studio door will to the right – there is a large gold circle painted on it</li>
    </ol>
  </div>

  {{sections/newsletter-section}}
</div>
