<div class="content-container col">
  <span class="line"></span>
  <div class="title-container">
    <span class="label">Upcoming Event</span>
    <span class="title">Walls</span>
    <span class="description">A quest for immersive space</span>
  </div>

  <div class="info-container">
    <span class="date">Apr 27th - May 15th 2017</span>
    <span class="time">Press Preview: 5-7pm</span>
    <span class="time">Opening: 7-10pm</span>
  </div>

  <div class="ui-container row hide-mobile">
    {{ui/circle-icon-button "facebook"}}
    {{ui/circle-icon-button "twitter"}}
    {{ui/circle-icon-button "map-marker"}}
  </div>
</div>

<div class="artist-container col">
  <a href="http://zadikzadikian.com" target="_blank">Zadik Zadikian</a>
  <a href="http://zadikzadikian.com" target="_blank">KuBO</a>
  <a href="http://zadikzadikian.com" target="_blank">Kaloust Guedel</a>
  <a href="http://zadikzadikian.com" target="_blank">Clayton Campbell</a>
  <a href="http://zadikzadikian.com" target="_blank">Yvette Gellis</a>
  <a href="http://zadikzadikian.com" target="_blank">Rouzanna Berberian</a>
  <a href="http://zadikzadikian.com" target="_blank">Gary Paller</a>
  <a href="http://zadikzadikian.com" target="_blank">Gary Brewer</a>
  <a href="http://zadikzadikian.com" target="_blank">Corey Burns</a>
</div>

<div class="ui-container row only-mobile">
  {{ui/circle-icon-button "facebook"}}
  {{ui/circle-icon-button "twitter"}}
  {{ui/circle-icon-button "map-marker"}}
</div>
