<div class="content-container col">
  <span class="line"></span>
  <div class="title-container">
    <span class="label">Upcoming Event</span>
    <span class="title">Walls</span>
    <span class="description">A quest for immersive space</span>
  </div>

  <div class="info-container">
    <span class="date">Opening: 7-10pm</span>
    <span class="time">Thursday Apr 27th, 2017</span>
  </div>

  <div class="ui-container row hide-mobile">
    {{ui/circle-icon-link-to-button "facebook" "https://www.facebook.com/events/205914536554238/"}}
    {{ui/circle-icon-link-to-button "instagram" "https://www.instagram.com/producehaus/"}}
    {{ui/circle-icon-link-to-button "twitter" "https://twitter.com/producehaus"}}
    {{ui/circle-icon-link-to-button "map-marker" "https://www.google.com/maps/place/1318+E+7th+St,+Los+Angeles,+CA+90021/@34.0354024,-118.2431765,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c62f807498f7:0x71196d4e3b6dedaa!8m2!3d34.0354024!4d-118.2409878"}}
  </div>

  <div class="separator"></div>

  <div class="col points-container">
    <span class="point highlight">Ample free parking</span>
    <span class="point">Organic light bites + festive drinks</span>
  </div>
</div>

<div class="artist-container col">
  <span class="info">Featuring new works by:</span>
  <a href="http://zadikzadikian.com" target="_blank">Zadik Zadikian</a>
  <a href="http://www.kubo.hk/index.html/" target="_blank">KuBO</a>
  <a href="http://www.zdom.com/" target="_blank">Kaloust Guedel</a>

  <a href="https://rouzannaberberian.wordpress.com/" target="_blank">Rouzanna Berberian</a>
  <a href="http://www.garybrewerart.com/" target="_blank">Gary Brewer</a>
  <a href="http://coreysburns.com/" target="_blank">Corey Burns</a>
  <a href="http://claytoncampbell.com/" target="_blank">Clayton Campbell</a>
  <a href="http://yvettegellis.com/" target="_blank">Yvette Gellis</a>
  <a href="http://www.andymoses.com/" target="_blank">Andy Moses</a>
  <a href="http://garypaller.com/home.html" target="_blank">Gary Paller</a>
  <a href="http://marjanv.com/" target="_blank">Marjan Vayghan</a>
</div>

<div class="ui-container row only-mobile">
  {{ui/circle-icon-link-to-button "facebook" "https://www.facebook.com/producehaus"}}
  {{ui/circle-icon-link-to-button "instagram" "https://www.instagram.com/producehaus/"}}
  {{ui/circle-icon-link-to-button "twitter" "https://twitter.com/producehaus"}}
  {{ui/circle-icon-link-to-button "map-marker" "https://www.google.com/maps/place/1318+E+7th+St,+Los+Angeles,+CA+90021/@34.0354024,-118.2431765,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c62f807498f7:0x71196d4e3b6dedaa!8m2!3d34.0354024!4d-118.2409878"}}
</div>
