<div class="content-container col">
  <span class="line"></span>
  <div class="title-container">
    <span class="label">Upcoming Event</span>
    <span class="title">Walls</span>
    <span class="description">A quest for immersive space</span>
  </div>

  <div class="info-container">
    <span class="date">Apr 27th - May 15th 2017</span>
    <span class="time">Press Preview: 5-7pm</span>
    <span class="time">Opening: 7-10pm</span>
  </div>

  <div class="ui-container row hide-mobile">
    {{ui/circle-icon-button "facebook"}}
    {{ui/circle-icon-button "twitter"}}
    {{ui/circle-icon-button "map-marker"}}
  </div>
</div>

<div class="artist-container col">
  <div>Zadik Zadikian</div>
  <div>Kubo</div>
  <div>David Yurmen</div>
  <div>Eastman Kodak</div>
  <div>Friend Guy</div>
  <div>Sara Heller</div>
  <div>Jessica Sanchez</div>
  <div>Israel Altman</div>
  <div>Weston Price</div>
  <div>Uline Humphrey</div>
  <div>Sara Heller</div>
  <div>Jessica Sanchez</div>
</div>

<div class="ui-container row only-mobile">
  {{ui/circle-icon-button "facebook"}}
  {{ui/circle-icon-button "twitter"}}
  {{ui/circle-icon-button "map-marker"}}
</div>
