<div class="content-container col-1">
  <span class="title">
    Produce Haus - Press
  </span>

  {{elements/press-card
      publication="LA Weekly"
      title='PRODUCE HAUS PRESENTS "WALLS: A QUEST FOR IMMERSIVE SPACE"'
      link="http://www.laweekly.com/event/produce-haus-grand-opening-exhibition-walls-a-quest-for-immersive-space-8079007"
      date="4/22/17"}}

  {{elements/press-card
      publication="Art Nerd"
      title='GRAND OPENING OF PRODUCE HAUS GROUP SHOW: APRIL 27TH 7-10PM'
      link="http://art-nerd.com/losangeles/grand-opening-of-produce-haus-group-show-april-27th-7-10pm/"
      date="4/21/17"}}

  {{elements/press-card
      publication="NoHo Arts District"
      title='PRODUCE HAUS PRESENTS "WALLS: A QUEST FOR IMMERSIVE SPACE"'
      link="http://nohoartsdistrict.com/north-hollywood-news-noho/item/5082-produce-haus-presents-walls-a-quest-for-immersive-space"
      date="4/21/17"}}

  {{elements/press-card
      publication="Vice"
      title="Precious Metal Alchemy Transmutes an Art Space in LA"
      link="https://creators.vice.com/en_us/article/precious-metal-alchemy-transmutes-an-art-space-in-la"
      date="4/14/17"
      author="Tanja M. Laden"
      authorLink="http://tanjamladen.com/"}}

  {{elements/press-card
      publication="Huffington Post"
      title="Walls - A quest for immersive space"
      link="http://www.huffingtonpost.com/entry/walls-a-quest-for-immersive-space-in-dtlas-newest_us_58ccbea8e4b0e0d348b34380"
      date="3/18/17"
      author="Shana Nys Dambrot"
      authorLink="http://www.sndx.net/"}}
</div>
