<section class="lost-flex-container main-container">
  <div class="wrapper">
    {{outlet}}
  </div>
  <div class="footer">
    {{sections/footer-section}}
  </div>
</section>

{{elements/matte-element}}

{{navs/main-nav}}
{{navs/footer-nav}}
