<!-- {{outlet}}
<ul>
  {{#each sortedArtists as |artist|}}
    <li>{{artist.name}}</li>
    <img src="{{artist.images.firstObject.file.url}}" alt="">
  {{/each}}
</ul> -->

<section class="lost-flex-container">
  {{outlet}}
</section>

{{elements/matte-element}}

{{navs/main-nav}}
{{navs/footer-nav}}
