<div class="row">
  <div class="col">
    <img src="/assets/images/logo.svg" alt="">
  </div>

  <div class="col-1">
    <div class="row space-between">
      <div class="col info-section">
        <span class="content">hello@produce.haus</span>
        <span class="content">760 South Central Ave., LA, CA 90021</span>
      </div>
      <div class="col info-section">
        <span class="content">© Produce Haus</span>
        <div class="row content icon-container">
          {{ui/circle-icon-link-to-button "instagram" "https://www.instagram.com/producehaus/"}}
          {{ui/circle-icon-link-to-button "facebook" "https://www.facebook.com/Produce-Haus-426017534404741"}}
          {{ui/circle-icon-link-to-button "twitter" "https://twitter.com/producehaus"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="nav-links-container row">
        {{link-to "Home." "index" class="nav-link" invokeAction="closeMenu"}}
        {{link-to "Events." "events" class="nav-link" invokeAction="closeMenu"}}
        {{link-to "Contact." "contact" class="nav-link" invokeAction="closeMenu"}}
        {{link-to "About." "about" class="nav-link" invokeAction="closeMenu"}}
        <a href="https://medium.com/@producehaus" class="nav-link">Blog</a>
      </div>
    </div>
  </div>
</div>
