<div class="row">
  <div class="col">
    <img src="/assets/images/logo.svg" alt="">
  </div>

  <div class="col-1">
    <div class="contact-info-container row space-between">
      <div class="col info-section">
        <a href="mailto:hello@produce.haus" class="content">hello@produce.haus</a>
        <a href="https://www.google.com/maps/place/1318+E+7th+St,+Los+Angeles,+CA+90021/@34.0354024,-118.2431765,17z/data=!3m1!4b1!4m5!3m4!1s0x80c2c62f807498f7:0x71196d4e3b6dedaa!8m2!3d34.0354024!4d-118.2409878" target="_blank" class="content">1318 E 7th. Street, L.A, CA 90021</a>
      </div>
      <div class="col info-section">
        <span class="content">© Produce Haus</span>
        <div class="row content icon-container">
          {{ui/circle-icon-link-to-button "instagram" "https://www.instagram.com/producehaus/"}}
          {{ui/circle-icon-link-to-button "facebook" "https://www.facebook.com/producehaus"}}
          {{ui/circle-icon-link-to-button "twitter" "https://twitter.com/producehaus"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="nav-links-container row">
        {{link-to "Home." "index" class="nav-link" invokeAction="closeMenu"}}
        {{link-to "Exhibitions." "events" class="nav-link" invokeAction="closeMenu"}}
        {{link-to "Contact." "contact" class="nav-link" invokeAction="closeMenu"}}
        {{link-to "About." "about" class="nav-link" invokeAction="closeMenu"}}
        {{link-to "Press." "press" class="nav-link" invokeAction="closeMenu"}}
        <a href="https://medium.com/@producehaus" class="nav-link">Blog</a>
      </div>
    </div>
  </div>
</div>
